extends layouts/page.pug 
block pageContent
  section.hero
    .hero-body
      .container
        .columns
          .column.is-8.is-offset-2
            figure.image.is-16by9
              img(src='/static/img/hero_image.jpg' alt='')
        section.section
          .columns
            .column.is-8.is-offset-2
              .content.is-medium
                h2.subtitle.is-4 Encuentra los mejores productos de ciclismo en
                h1.title La potencia
                p
                  |Artículos de ciclismo de gama alta, media y baja, nuevos y de segunda mano.
        .is-divider